@if(title)
    <h4 class="mb-4 text-lg font-semibold text-gray-600">
        {{ title }}
    </h4>
@endif
  
<fieldset class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md">
    {{{ await $slots.main() }}}
</fieldset>