<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ projectName }}</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="" />
  @entryPointStyles('app')
  @entryPointScripts('app')

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" />

  @!section('style')
</head>
<body
  @if(bodyClass)
    class="{{ bodyClass }}"
  @endif

  style="font-family: 'Source Sans Pro', sans-serif;"
>
  <main>
    @!section('home')
  </main>

  @!section('script')
</body>
</html>
